@media screen, handheld and (max-device-width: 420px) {
  
  body {
    /*position: relative;*/
    width: 100%;
  }
  
  .toolbarBtn {
    transform: scale(2);
  }

  .toolbar {
    height: 80px;
     /*background-color: #F50057; */
     background-color: #0c0c0c;
  }

  .main-container {
    
    padding: 40px 0;
    border: 1px solid black;
  }

  .podRow {
    /*border: 1px solid purple;*/
  }

  .podcast-results {
    color: #333;
    font-family: helvetica;
    font-weight: bolder;
    font-size: 200%;
    margin-bottom: 25px;
    text-align: center;
  }

  .gridListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  .gridListStructure{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .tileContainer {
    min-width: 200px;
    width: 100%;
    height: 100%;
  }
  
  .tile {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .favBtn{
    border: 1px solid blue;
    float: right;
    z-index: 0 !important;
  }

  .tileImg{
    width: 100%;
  }

  .tileInfo {

    text-align: left;
    display: none;
    width: 100%;
  }

  .podTitle{
    font-size: 12px;
    font-weight: bold;
    margin: 0 !important;
  }

  .podGenre{
    font-size: 10px;
    color: #999;
    margin: 0 auto;
  }

  .whiteIcon{
    color: white !important;
  }



}

@media screen and ( min-device-width: 1024px ){


  body {
    position: relative;
    width: 100%;
  }

  .toolbarBtn {
    transform: scale(1);
  }

  .toolbar {
      height: 80px;
     /*background-color: #F50057; */
     background-color: #0c0c0c !important;
  }

  .main-container {
    
    padding: 30px 0;
    border: 1px solid black;
    background-color: #0c0c0c;
  }

  .podRow {
    /*border: 1px solid purple;*/
  }

  .podcast-results {
    color: white;
    font-family: helvetica;
    font-weight: normal !important;
    margin: 15px 0 28px 25px !important;
    text-align: left;
    font-size: 18px !important;
    letter-spacing: 1px;
  }

  .gridListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  .gridListStructure{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .tileContainer {
    min-width: 180px;
    width: 100%;
    height: 100%;
  }
  
  .tile {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .favBtn{
    border: 1px solid blue;
    float: right;
    z-index: 0 !important;
  }

  .tileImg{
    width: 100%;
  }

  .tileInfo {
    text-align: left;
    display: block;
    width: 100%;
    padding: 3px;
  }

  .podTitle{
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    margin: 0 !important;
  }

  .podGenre{
    font-size: 10px;
    color: #999;
    margin: 0 auto;
  }

  .whiteIcon{
    color: white !important;
  }




  /* Podcast Card */

  .podcast-card {
    float: left;
    margin-right: 2%;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: left;
    width: 30%;
    height: 0;
    padding-bottom: 13.667%;
    overflow: hidden;
    margin-bottom: 2%;
  }

  .podcast-card:hover {
    cursor: pointer;
  }

  .podcast-card:hover > .podcast-title-author {
    text-decoration: underline;
    cursor: pointer;
  }

  .podcast-card > img {
    width: 46%;
    float: left;
  }

  .podcast-card > div {
    display: block;
    float: right;
    width: 50%;
  }

  .podcast-card > div > h5 {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .podcast-card > div > p {
    font-size: 14px;
  }

  .favorite-button {
    margin-left: -224px;
    margin-top: 14.5%;
    margin-bottom: 2%;
    float: left;

    background-color: dodgerblue;
    font-family: monospace;
    font: bold 11px;
    color: #ffffff;
    padding: 2px 50px 2px 50px;
    font-size: 20px;
    border-radius: 5px;
  }

  .delete-button {
    margin-left: -200px;
    margin-top: 14.5%;
    margin-bottom: 2%;
    float: left;

    background-color: crimson;
    font-family: monospace;
    font: bold 11px;
    color: #ffffff;
    padding: 2px 50px 2px 50px;
    font-size: 20px;
    border-radius: 5px;
  }


  /* Pocast Description */

  .podcast-description {
    float: left;
    margin-right: 2%;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: left;
    width: 100%;
    height: 0;
    padding-bottom: 200px;
    overflow: hidden;
    margin-bottom: 2%;
  }

  .podcast-description > img {
    float: left;
    margin-right: 20px
  }

  .podcast-description > h2 {
    color: black;
    font-weight: bold;
    margin-top: 10px;
  }

  .podcast-description > p {
    font-size: 14px;
    height: 95px;
    overflow: scroll;
  }


  /* Podcast Episode */

  .podcast-episode {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  /* Podcast Wrapper */

  favorite-podcast-wrapper {
    width: 100%;
  }

  .podcast-wrapper {
    width: 100%;
  }

  .podcast-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }



  /* View Rating */

  form p,
  form input[type="submit"] {
    text-align: left;
    font-size: 14px;
  }

  #wrapper form input[type="submit"] {
    border: 1px solid #d9d9d9;
    background-color: #efefef;
  }

  input[type="radio"] {
    display: none;
  }

  .view-rating, .add-rating{
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin: 0px 5px;
  }

  ~ .view-rating label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .addrating label:hover,
  .addrating label:hover ~ label {
    color: orange;
  }

  .viewrating,
  .addrating {
    float-left;
    width: 85px;
    display: inline-block;
  }

  .add-rating-wrapper {
    width: 85px;
    display: inline-block;
  }

  .addrating {
    width: 180px;
    border-left: 1px solid grey;
    padding-left: 10px;
    height: 19px;
  }

  .addrating .rating {
    display: inline-block;
  }

  .add-rating-label {
    display: inline-block;
  }

  .reviewbutton {
    margin-top: 5px;
    width: 100px;
    display: inline-block;
  }

  .ratingcontainer {
    margin-left: 230px;
  }

  .numreviews {
    display: inline-block;
    width: 70px;
  }


  /* View Rating */


  /* Review Display */

  .review-wrapper {
    padding: 10px 0px;
  }

  .review-summary {
    font-size: 16px;
    font-weight: bold;
  }

  .review-details {
    height: 140px;
    overflow: auto;
  }

  .review-username {
    color: #404040;
    text-transform: lowercase;
    font-weight: bold;
  }

  .review-created-at {
    color: #545454;
    font-size: 11px;
    text-transform: uppercase;
  }

  .review-wrapper {
    border-bottom: solid 1px rgba(178, 179, 153, 0.125);
    width: 583px;
  }

  .review-container {
    width: 600px;
  }

  .review-container .summary {
    width: 500px;
  }

  .review-container .review {
    width: 500px;
    display: inline-block;
    margin-left: 14px;
    margin-top: 10px;
  }

  .review-container button {
    float: right;
    margin-right: 35px;
  }

  .review-container .label-review {
    position: relative;
    top: -85px;
  }
  .review-container label{
    margin-right: 10px;
  }
  .review-num,
  .rating {
    display: inline-block;
  }

  .review-num {
    font-size: 14px;
    color: grey;
    margin-left: 5px;
  }


  /* Login */
  
  .header-link{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .login {
    font-family: monospace;
    font: bold 11px;
    background-color: crimson;
    color: #ffffff;
    padding: 2px 6px 2px 6px;
    font-size: 20px;
    width: 300px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }

  .loginForms {
    margin: auto;
    width: 500px;
  }

  .loginSubmit {
    background-color: crimson;
    font: bold;
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 110px;
    border-radius: 5px;
    width: 280px;
    margin-top: 10px;
    height: 40px;
  }

  .loginLabel {
    margin: 10px;
    width: 100px;
  }

  .authButtons {
    margin-bottom: 10px;
  }
  /* Podcast */


  /*.podcast-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .podcast {
    padding: 10px;
    margin: 20px;
    flex: 1 100px;
  }

  .podcast img {
    cursor: pointer;
  }

  .podcast-title-author:hover {
    text-decoration: underline;
    cursor: pointer;
  }*/


  /* Search */


  /*.search {
    padding-left: 10px;
    margin-left: 20px;
    position: relative;
    color: #aaa;
  }

  .search input {
    text-indent: 25px;
    width: 100%;
    color: black;
  }
  .search .glyphicon-search {
    position: absolute;
    top: 5px;
    left: 15px;
  }
  */
}